.box{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.gridContainer {
	align-content: stretch;
	justify-content: center;
	display: grid;
	gap: 0.5rem;
	padding: 1vw;
	grid-template-columns: repeat(7, 1fr);
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	grid-template-rows: auto;
	/* grid-template-rows: minmax(auto, 110px); */
	height: 643px;
	max-width: 1024px;
	grid-template-areas:
		"item1 item2 item3 item4 item4 item5 item5"
		"item6 item6 item7 item7 item7 item8 item9"
		"item6 item6 item7 item7 item7 item8 item9"
		"ite10 ite11 item7 item7 item7 ite12 ite12"
		"ite13 ite13 ite14 ite14 ite14 ite12 ite12";
}
@media screen and (max-width: 699px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"item1 item2"
			"item3 item3"
			"item4 item5"
			"item6 item7"
			"item6 item7"
			"item8 item9"
			"ite10 item9"
			"ite11 ite12"
			"ite13 ite14";
	}
}
.item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	display: flex;
}
.gridContainer .item:nth-child(1) {
	grid-area: item1;
	/* max-height: 130px; */
}
.gridContainer .item:nth-child(2) {
	grid-area: item2;
}
.gridContainer .item:nth-child(3) {
	grid-area: item3;
}
.gridContainer .item:nth-child(4) {
	grid-area: item4;
}
.gridContainer .item:nth-child(5) {
	grid-area: item5;
}

.gridContainer .item:nth-child(5) {
	grid-area: item5;
}

.gridContainer .item:nth-child(6) {
	grid-area: item6;
}
@media screen and (min-width: 700px) {
    .gridContainer .item:nth-child(6) .imgContainer > img {
        width: 128px !important;
        height: 128px !important;
    }
}

.gridContainer .item:nth-child(7) {
	grid-area: item7;
}
@media screen and (min-width: 700px) {
    .gridContainer .item:nth-child(7) .imgContainer > img {
        width: 256px !important;
        height: 256px !important;
    }
}

.gridContainer .item:nth-child(8) {
	grid-area: item8;
}

.gridContainer .item:nth-child(9) {
	grid-area: item9;
}

.gridContainer .item:nth-child(10) {
	grid-area: ite10;
}
.gridContainer .item:nth-child(11) {
	grid-area: ite11;
}
.gridContainer .item:nth-child(12) {
	grid-area: ite12;
}
@media screen and (min-width: 700px) {
    .gridContainer .item:nth-child(12) .imgContainer > img {
        width: 128px !important;
        height: 128px !important;
    }
}
.gridContainer .item:nth-child(13) {
	grid-area: ite13;
}
.gridContainer .item:nth-child(14) {
	grid-area: ite14;
}
.gridContainer .item:nth-child(15) {
	grid-area: ite15;
}

.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	gap: 0.5rem;
}
.img {
	width: 64px;
	height: 64px;
}
@media screen and (max-width: 700px) {
    .img{
		width: 32px;
		height: 32px;
	}
}

@keyframes scaleUpDown {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.gridContainer .item.animated {
	animation: scaleUpDown 1s ease-in-out;
  }