@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-shadow: none;
	font-family: "Wix Madefor Text", sans-serif;
	font-weight: 500;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@layer base {
	:root {
		--blue: hsl(237, 96%, 46%);
		--blue-border: hsl(193, 80%, 51%);
		--text-color: black;
		--text-color-secondary: #e8e8e8;
		--background: #e8e8e8;
	}
}
